                      /*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

header{
    width: 1265px;
    height: 116px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.menu{
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
}
.menu__list{
    display: flex;
}

.menu__link{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #B08EAD;
    transition: 300ms;
}
.menu__link:hover{
    color: #5584b4;
}
.menu__item{
    margin-right: 40px;
}
.header__logo{
    display: flex;
    height: 63px;
    width: 122px;

}
img{
    width: 100%;
}
.title{
    font-size: 48px;
    color: #6b8ee0;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.books{
    display: flex;
    flex-direction: column;
}
.link{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    border-radius: 10px;
    background: #b5e0bc;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 30px;
    color: #B08EAD;
    transition: 300ms;
    padding: 5px 10px;

}
.link:hover{
    background: #cdc2d7;
}
.overlay {

   /* Скрываем подложку  */
   opacity: 0;
   visibility: hidden;

   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .5);
   z-index: 20;
   transition: .3s all;
}


/* Стили для модальных окон */

.modal {

   /* Скрываем окна  */
   opacity: 0;
   visibility: hidden;


   /*  Установаем ширину окна  */
   width: 100%;
   max-width: 500px;

   /*  Центрируем и задаем z-index */
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 30; /* Должен быть выше чем у подложки*/

   /*  Побочные стили   */
   box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
   text-align: center;
   padding: 30px;
   border-radius: 3px;
   background-color: #fff;
   transition: 0.3s all;
}


/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active{
   opacity: 1;
   visibility: visible;
}


/* Стили для кнопки закрытия */

.modal__cross {
   width: 15px;
   height: 15px;
   position: absolute;
   top: 20px;
   right: 20px;
   fill: #444;
   cursor: pointer;
}
#clock{
    color: #d77272;
 font-weight: bold;
  font-size: 20px;
}